.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 100vh;  */
}

.header,
.footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

.header {
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  width: 100%;
  min-height: 300px;
  min-width: 100vw;
  margin-top: 15%;
  border-top: #aaaaaa 1px solid;
  border-bottom: #aaaaaa 1px solid;
}

.header img {
  width: 400px !important;
  height: 400px !important;
  vertical-align: middle;
  margin-top: -5px;
}


.headerTitle {
  font-size: 6em;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.parallax {
  /* background-image: url("/images/YeuBG.webp"); */
  height: 200px;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.content {
  min-height: 300px;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  padding: 40px 20px 20px 20px;
  color: black;
  width: 100%;
  margin: 0 auto;
  border-top: #aaaaaa 1px solid;
  border-bottom: #aaaaaa 1px solid;
}

.content h1 {
  text-align: center;
  padding: 6px 0;
  margin-bottom: 6px;
  border-bottom: #aaaaaa 1px solid;
  border-top: #aaaaaa 1px solid;
  color: #666666
}

.content p {
  color: black;
  padding: 1em;
}
  
.content .contentContainer {
  width: 50%;
  margin: 0 auto;
}

.content .contentContainer .bookAppointment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.content .contentContainer .bookAppointment a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 25%;
  border: 1px solid #666666;
  background-color: #aaaaaa;
  border-radius: 3px;
  padding: 8px 0;
}

.content .contentContainer .bookAppointment a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 25%;
  border: 1px solid #333333;
  color: #CCCCCC; 
  background-color: #999999;
  padding: 8px 0;
  font-weight: 200;
}

.intro {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.intro div {
  flex: 1;
  text-align: justify;
}

.content .contentContainer img {
  border-radius: 3px;
  border: #333333 2px solid;
}

.content .contentContainer .services {
  padding-left: 1em;
  width: 100%;
  margin-left: auto;
}

.content .contentContainer .services .servicesContainer div {
  width: 50%;
}

.content .contentContainer .services .servicesContainer div ul {
  list-style-type: none;
  padding: 1em;
}

.content .contentContainer .services .servicesContainer div ul li.serviceTitle {
  font-weight: 600;
}

.content .contentContainer .services .servicesContainer div ul li {
  padding: 2px 8px 2px 0;
}

.content .contentContainer .location {
  display: flex;
  
}

.content .contentContainer.location .locationContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.content .contentContainer.location .locationContainer div.info {
  width: 50%;
}

.content .contentContainer.location .locationContainer div ul {
  display: table;
  list-style-type: none;
  padding: 1em;
}

.content .contentContainer.location .locationContainer div ul li {
  display: table-row;
  height: 23px;
}

.content .contentContainer.location .locationContainer div ul li div {
  display: table-cell;
  width: 250px;
}

.content .contentContainer.location .locationContainer div.mapContainer {
  width: 40%;
  padding-bottom: 30.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.content .contentContainer.location .locationContainer .mapContainer iframe {
  height: 289px;
  width: 400px;
  border: 0;
  padding: 10px;
}

/* .content .contentContainer.location .mapContainer {
  min-height: 300px;
} */

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 45%;
  }

  .header img {
    width: 75%;
    height: 50%;
    vertical-align: middle;
    margin-top: -5px;
  }

  .content p {
    color: black;
    padding: 1em 0;
  }

  .container {
    width: 100%;
  }

  .content .contentContainer .services {
    padding-left: 0;
  }

  .content .contentContainer  {
    width: 100%;
    margin: 0 auto;
  }

  .content .contentContainer div {
    margin: 0 auto;
  }

  .content .contentContainer .services .servicesContainer div {
    width: 100%;
    margin: 0;
  }

  .content .contentContainer .services .servicesContainer div ul {
    padding: 1em 0;
  }
  

  .services .servicesContainer div  ul {
    width: 100%;
  }

  .content .contentContainer.location .locationContainer  {
    display: block !important;
  }

  .content .contentContainer.location .locationContainer div {
    width: 100% !important;
  }

  .content .contentContainer.location .locationContainer div ul {
    width: 100% !important;
  }

  .content .contentContainer.location .locationContainer div ul div {
    width: 50% !important;
  }

  .content .contentContainer.location .locationContainer div.mapContainer {
    width: 100%;
    padding-bottom: 60.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .content .contentContainer.location .mapContainer iframe {
    /* width: 100%;
    height: 100%; */
  }

  .intro {
    flex-direction: column;
  }
}
